<div id="cv" class="hidden content">
  <article class="container">
    <div class="row">
      <div class="col-sm-12 paper">
        <h1>Mateus Zitelli, Curriculum Vitae</h1>
        <p>
          I'm a 22 years old Brazilian student of Computer Science, with 7 years of experience in software development. I'm in the third year of Computer Science course at Universidade Federal do ABC and currently in exchange at Australian National University by the Brazilian program Science without Borders.
        </p>
        <h2>Techinical skills</h2>
        <hr>
        <p>
          During the last 7 years I've developed software for different proposes, from assembly to AVR microcontrollers, simple applications with scheme, to complete web apps using Flux + React.js. Those years studying different technologies allowed me to have a good notion of what is necessary to develop software with quality independent of the adopted technologies.
        </p>
        <ul>
          <li>Basic C programming for desktop applications;</li>
          <li>Advanced python programming for general propose usage, data analysis and web development with Django;</li>
          <li>ES2016 JavaScript linted, tested;</li>
          <li>Front-end development with React.js, Flux using Redux and usage of immutable datatypes with Immutable.js;</li>
          <li>Node.js + express/koa.js for general back-end solutions, including REST APIs;</li>
          <li>Advanced git experience for code version controll;</li>
          <li>Gulp, Grunt and Webpack for automation and management of JavaScript projects;</li>
          <li>CSS2, CSS3, Bootstrap, handwritten for responsible layouts;</li>
          <li>Experience with MongoDB and RethinkDB for noSQL databases;</li> 
          <li>Scheme as a general propose language (and because it's fun!);</li>
          <li>XHTML 4.0, (X)HTML5, handwritten with experience in automation tools such as emmet;</li>
        </ul>
        <h2>Extras</h2>
        <hr>
        <div>
          <h3>Research Program - Qeopps - Young Talents of Science/CNPq
            <br>(Q)eopps is an (E)volutionary (O)ptimizator for (P)arallel (P)rogram(s)
            <br><small>January/2013 - December/2013</small>
          </h3>
          <ul>
            <li><strong>Honorable Mention</strong> in the axis of Communication and Information - Scientific Initiation Meeting</li>
            <li>Python for complex applications;</li>
            <li>Scheme for complex applications;</li>
            <li>Experience with academic writing;</li>
            <li>Experience with parallel programming using Posix Threads;</li>
          </ul>
        </div>
        <div>
          <h3>Hackaton 99jobs - First Place
          <small>12 and 13 of April of 2014</small></h3>
          <p>As Front-end developer me with my team developed the winner project <a href="http://genteboa.meteor.com">Gente Boa</a>.</p>
        </div>
        <h2>Education</h2>
        <hr>
        <div>
          <h3>Australian National University
          <small>November/2015 - December/2016</small></h3>
          <p>Scholarship from CNPq with the program Science Without Borders</p>
        </div>
        <div>
          <h3>Universidade Federal do ABC
          <small>April/2012 - April/2017</small></h3>
          <p>Bachelor Degree in Science and Technology / Bachelor Degree in Computer Science</p>
        </div>
        <h2>Experience</h2>
        <hr>
        <div>
          <h3>full-stack developer/cto at lóg bi
          <br><small>january/2015 - november/2015</small></h3>
          <ul>
              <li>complete development of a complex web app;</li>
              <li>api rest with node.js + koa.js;</li> 
              <li>mongodb as a nosql database;</li>
              <li>react.js for reusable ui components;</li>
              <li>flux as the architeture for the front-end application;</li>
              <li>immutable data structs with immutable.js;</li>
          </ul>
        </div>
        <div>
          <h3>Front-end development at 99jobs
          <br><small>July/2014 - November/2014</small></h3>
          <ul>
            <li>CSS3, SASS, Bootstrap for pixels perfect and responsive designs;</li>
            <li>Javascript and JQuery for dynamic webpages;</li>
            <li>Experience with solution that were used by thousands users everyday;</li>
            <li>React.js + Flux for a web app development;</li>
          </ul>
        </div>
        <div>
          <h3>Internship - Metamáquina (<a href="http://metamaquina.com.br/">http://metamaquina.com.br/</a>)
          <br><small>April/2012 - September/2012</small></h3>
          <ul>
            <li>Experience with configuration of 3D printers;</li>
            <li>Experience with 3D printing with open source tools;</li>
            <li>3D programmatic modeling with Openscad;</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
