<div id="cv" class="hidden content">
  <article class="container">
    <div class="row">
      <div class="col-sm-12 paper">
        <h1>Mateus Zitelli, Curriculum Vitae</h1>
        <p>
          Programo à 6 anos e tenho conhecimento desde programação para microcontroladores até desenvolvimento para web. Atualmente venho tentando explorar ao máximo minhas habilidades de desenvolvimento em html, css e javascript de forma criativa. Se estou com pessoas que querem correr riscos então estou em casa.
        </p>
        <h2>Habilidades Técnicas</h2>
        <hr>
        <p>
          No decorrer dos 5 anos desenvolvi diversos projetos em diversas tecnologias, desde de assembly para microcontroladores até frameworks MVC em Javascript. Nos ultimos 2 anos tenho focado em desenvolvimento front-end e backend de web apps, sempre tentando encontrar soluções para problemas sem me prender a linguagens ou tecnologias, com intuíto de ter maior flexibilidade e encontrar a melhor solução tanto para a experiência do usuário, como para redução do tempo de desenvolvimento.
        </p>
        <ul>
          <li>Programação em C para aplicações desktop com conhecimento de diversos algorítimos e estruturas de dados;</li>
          <li>Python para desenvolvimento de aplicações desktop e web com Django;</li>
          <li>JavaScript até ECMAScript 6, lintado e testável;</li>
          <li>Desenvolvimento de web apps com React.js, Flux e estruras de dados imutáveis com Immutable.js;</li>
          <li>Node.js para desenvolvimento de APIs REST com Koa.js;</li>
          <li>Git como ferramenta de versionamento de código;</li>
          <li>Gulp, Grunt e Webpack para automatização de tarefas e precompilação de projetos de front-end;</li>
          <li>CSS2, CSS3, Sass e Bootstrap. Escrito a mão, desenvolvido para layouts responsivos, dispositivos mobile e para impressão;</li>
          <li>MongoDB como banco de dados NoSQL;</li> 
          <li>Scheme para aplicações desktop;</li>
          <li>XHTML 4.0, (X)HTML5, escritos a mão com experiência em ferramentas de automatização como emmet;</li>
        </ul>
        <h2>Extras</h2>
        <hr>
        <div>
          <h3>Hackaton 99jobs - Primeiro lugar
          <small>12 e 13 de Abril de 2014</small></h3>
          <p>Como desenvolvedor front-end desenvolvi com minha equipe o projeto
          ganhador <a href="http://genteboa.meteor.com">Gente Boa</a>.</p>
        </div>
        <div>
          <h3>Inglês - Fluente</h3>
        </div>
        <h2>Educação</h2>
        <hr>
        <div>
          <h3>Universidade Federal do ABC
          <small>Abril/2012 - Abril/2016 (Previsto)</small></h3>
          <p>Bacharelado em Ciência e Tecnologia / Bacharelado e Ciência da Computação.</p>
        </div>
        <h2>Experiência</h2>
        <hr>
        <div>
          <h3>Desenvolvedor full-stack/CTO na Lóg BI
          <br><small>janeiro/2015 - atualmente</small></h3>
          <ul>
              <li>Desenvolvimento completo de um web app;</li>
              <li>API REST com Node.js + Koa.js;</li> 
              <li>MongoDB como banco de dados NoSQL;</li>
              <li>React.js para desenvolvimento de componentes reutilizáveis de UI;</li>
              <li>Arquitetura Flux para estruturação e fluxo de dados no front-end;</li>
              <li>Estutura de dados imutáveis com Immutable.js</li>
          </ul>
        </div>
        <div>
          <h3>Desenvolvedor front-end na 99jobs
          <br><small>julho/2014 - novembro/2014</small></h3>
          <ul>
            <li>CSS3, SASS com design responsivo;</li>
            <li>Javascript, JQuery e Bootstrap;</li>
            <li>Experiência em desenvolvimento de código modular;</li>
            <li>React.js + Flux para desenvolvimento de um web app;</li>
          </ul>
        </div>
        <div>
          <h3>Cofundador e Desenvolvedor front-end e backend - Aeho Soluções Tecnológicas
          <br><small>Abril/2012 - Setembro/2012</small></h3>
          <ul>
            <li>Django e Django REST Framework;</li>
            <li>CSS3, SASS/Compass com design responsivo;</li>
            <li>Framework Ember.js com testes unitários e testes de integração;</li>
            <li>JQuery para gereciamento de eventos, Ajax e manipulação do DOM;</li>
            <li>Niginx com uwsgi no servidor;</li>
            <li>Grunt para automação de processos como minificação de JS/CSS, linting, entre outros processos.</li>
          </ul>
        </div>
        <div>
          <h3>Estagiário - Metamáquina (<a href="http://metamaquina.com.br/">http://metamaquina.com.br/</a>)
          <br><small>Abril/2012 - Setembro/2012</small></h3>
          <ul>
            <li>Configuração de impressoras 3D opensource;</li>
            <li>Experiência com processo de impressão 3D;</li>
            <li>Modelagem programática 3D com openscad.</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
