<div id="cv" class="hidden content">
  <article class="container">
    <div class="row">
      <div class="col-sm-12 paper">
        <h1>TODO</h1>
        <ul>
          <li>Liks para os projetos</li>
          <li></li>
        </ul>
        <h1>Mateus Zitelli, Curriculum Vitae</h1>
        <p>
          Programo a 5 anos e tenho conhecimento desde programação para microcontroladores até desenvolvimento para web. Atualmente venho tentando explorar ao máximo minhas habilidades de desenvolvimento em html, css e javascript de forma criativa. Se estou com pessoas que querem correr riscos então estou em casa.
        </p>
        <h2>Habilidades Técnicas</h2>
        <hr>
        <p>
          No decorrer dos 5 anos desenvolvi diversos projetos em diversas tecnologias, desde de assembly para microcontroladores até frameworks MVC em Javascript. Nos ultimos 2 anos tenho focado em desenvolvimento frontend e backend de web apps, sempre tentando encontrar soluções para problemas sem me prender a linguagens ou tecnologias, com intuíto de ter maior flexibilidade e encontrar a melhor solução tanto para a experiência do usuário, como para redução do tempo de desenvolvimento.
        </p>
        <ul>
          <li>Assembly para AVR;</li>
          <li>Programação em C para aplicações desktop com conhecimento de diversos algorítimos e estruturas de dados;</li>
          <li>Python para desenvolvimento de aplicações desktop, Django e Django REST Framework para aplicações na nuvem e api's REST;</li>
          <li>Scheme para aplicações desktop;</li>
          <li>XHTML 4.0, (X)HTML5, escritos a mão com experiência em ferramentas de automatização como emmet;</li>
          <li>CSS2, CSS3, Compass, Sass e Bootstrap. Escrito a mão, desenvolvido para layouts responsivos, dispositivos mobile e para impressão;</li>
          <li>Javascript desenvolvido a mão (Linted), Jquery e unit test com Jasmine/QUnit;</li>
          <li>Framework MV* Ember.js;</li>
          <li>Git como ferramenta de versionamento de código;</li>
          <li>Gulp e Grunt para automatização de tarefas.</li>
        </ul>
        <h2>Extras</h2>
        <hr>
        <div>
          <h3>Hackaton 99jobs - Primeiro lugar
          <small>12 e 13 de Abril de 2014</small></h3>
          <p>Como desenvolvedor Frontend desenvolvi com minha equipe o projeto
          ganhador <a href="http://genteboa.meteor.com">Gente Boa</a>.</p>
        </div>
        <div>
          <h3>Inglês - Fluente</h3>
        </div>
        <h2>Educação</h2>
        <hr>
        <div>
          <h3>Universidade Federal do ABC 
          <small>Abril/2012 - Abril/2016 (Previsto)</small></h3>
          <p>Bacharelado em Ciência e Tecnologia / Bacharelado e Ciência da Computação.</p>
        </div>
        <h2>Experiência</h2>
        <hr>
        <div>
          <h3>Cofundador e Desenvolvedor frontend e backend - Aeho Soluções Tecnológicas 
          <br><small>Abril/2012 - Setembro/2012</small></h3>
          <ul>
            <li>Django e Django REST Framework;</li>
            <li>CSS3, SASS/Compass com design responsivo;</li>
            <li>Framework Ember.js com testes unitários e testes de integração;</li>
            <li>JQuery para gereciamento de eventos, Ajax e manipulação do DOM;</li>
            <li>Niginx com uwsgi no servidor;</li>
            <li>Grunt para automação de processos como minificação de JS/CSS, linting, entre outros processos.</li>
          </ul>
        </div>
        <div>
          <h3>Estagiário - Metamáquina (<a href="http://metamaquina.com.br/">http://metamaquina.com.br/</a>)
          <br><small>Abril/2012 - Setembro/2012</small></h3>
          <ul>
            <li>Configuração de impressoras 3D opensource;</li>
            <li>Experiência com processo de impressão 3D;</li>
            <li>Modelagem programática 3D com openscad.</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>