<div id="intro" class="hidden content">
  <header class="container pull-left big-table">
    <div class="row center-cell">
      <div class="col-sm-12 centered-element">
        <h1>Mateus Zitelli</h1>
        <h2>Desenvolvedor Frontend • São Paulo, SP - Brasil</h2>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2 text-center info">
        <h2>Navegação</h2>
        <hr>
        <ul class="list-unstyled navigation-links">
          <li><a href="#cv">Curriculum</a></li>
          <li><a href="#repos-content">Projetos com código aberto</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2 text-center info">
        <h2>Social</h2>
        <hr>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/MateusZitelli">Twitter</a></li>
          <li><a href="https://twitter.com/MateusZitelli">Github</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-2 text-center info">
        <h2>Contato</h2>
        <hr>
        <ul class="list-unstyled">
          <li id="email-adress"></li>
          <li id="phone-number">+55 (11) 9-7555-3400</li>
        </ul>
      </div>
    </div>
  </header>
  <img src="assets/images/down-arrow.svg" data-destination="#repos-content" class="down-arrow" alt="Seta para ver mais">
</div>
<div class="hidden content" id="repos-content">
  <article class="container">
    <h1>Meus repositórios no Github</h1>
    <div class="row" id="repos">
    </div>
  </article>
</div>