// https://kuler.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=4&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.8,0.6598800309386958,0.593074498106041,0.6,0.34504402948010815,0.2234876976199714,1,0.19293406904804444,0.16695853046894216,0.6228931835465467,1,0.6457134604020844,0.42018391921941006,0.8,0.2766570880624988&swatchOrder=0,1,2,3,4

$color0 : #FF9B81;
$color1 : #704913;
$color2 : #FFE884;
$color3 : #E1FF60;
$color4 : #6AFF6E;

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;