@import "_content";
@import "_typography";
@import "_navbar";
@import "_loading";
@import "_github";

html{
	height:100%;
}

body{
	font-family: 'Quicksand', sans-serif;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.big-table{
	width:100%;
	height:100%;
	display: table;
	position: absolute !important;
}

.center-cell{
	display: table-cell;
	vertical-align: middle;
}

.centered-element{
	margin:0 auto;
}

.container.full{
	width:100%;
}