#main-container{
	height:100%;
}

.content{
	display:block;
	width:100%;
    min-height: 100%;
    height:auto;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	overflow:auto;

	.down-arrow{
		position: absolute;
		bottom:2em;
		left:0;
    	right:0;
    	margin-left:auto;
    	margin-right:auto;
		width:50px;
		cursor: pointer;
		@include animation(6s, 1s, jump, infinite, ease-in-out);
	}
}

#intro{
	background-color: $color0;
	color: $base03;

	hr{
		border-color: $base02;
	}

	h1{
		text-transform: uppercase;
		font-size: 4em;
	}

	h2{
		font-size: 1.4em;
		margin-top: 5px;
		margin-bottom: 7px;
	}
}

#cv{
	background-color: $base01;
	 
	p{
   		font-weight: 300;
   		font-size: 1.1em;
   		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

	ul{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

	h1{
		text-transform: none;
		font-size: 4em;
	}
	
	hr{
		border-color: $base01;
	}

	.paper{
		margin-top: 1em;
		margin-bottom: 1em;
		padding-bottom: 1em;
		background-color: $base3;
		box-shadow: 10px 0px 10px rgba(0,0,0,0.2), -10px 0px 10px rgba(0,0,0,0.2);
	}
}


#repos-content{
	background-color: $color2;
	padding-bottom: 1em;
  h1 {
      color: $color0;
  }
}