.repo-link{
	color: $base02;

	&:hover{
		color: $base0;
	}
}

.repo-content{
	padding: 2px 3px;
	height:155px;
	background-color: $base3;
	border-top: 2px solid $base1;
	margin: 3px 0px;
	overflow:auto;
	border-radius: 3px;
}

// .Python{
// 	border-top: 2px solid $color4;
// }